<%= stylesheet_link_tag 'hello.index', :media => "all" %>
<div class ="ichiban">
    <div class="headcon">
        <div class="karabako1">
            <h2>Hobbyshare</h2>
        </div>
        <div class="tags">
            <div class="tag1">
                <a href= "/users/sign_in">Login<a>
            </div>
            <div class="tag2">
                <a href= "/users/sign_up">Signup<a> 
            </div>
        </div>
    </div>

    <div class ="hobbyphoto">
        <div class ="midlesizebox">
            <div class="details">
                <div class="description">
                    <div class="thema">
                        <p>HOBBYSHARE!</p>
                    </div>
                    <div class ="explanation">
                        <p>Let's hobby share! </p>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class ="bottom_line">
        <div class ="bottom_box1">
            <div class ="midbottom_line">
                <h2>趣味の感動を共有する友達探し</h2>
            </div>
            <div class ="bottom_fig1">
                
            </div>
        </div>
        <div class ="bottom_box2">
            <div class ="midbottom_line">
                <h2>新しい趣味を見つける</h2>
            </div>
            <div class ="bottom_fig2">
                
            </div>
        </div>
        <div class ="bottom_box3">
            <div class ="midbottom_line">
                <h2>趣味の感動を多くの人に伝えて自分</h2>
                <h2>だけの感動を多くの人に伝える</h2>
            </div>
            <div class ="bottom_fig3">
            </div>
        </div>
    </div>
</div>


