.headcon{
	border-bottom: 6px double #000;
	height:75px;
	background-color:rgb(119, 228, 119); 
	display: flex;
	justify-content: flex-start;

}
.tags{
	display: flex;
	justify-content: flex-start;
	position: relative;
	left: 70%;
	width:60%
}
.tag1{
	margin-right: 5%;
}
.tag1 a{
	color: rgba(0, 0, 0, 0.56);
    text-decoration: none;
	font-size: x-large;

}
.tag2{
	margin-left: 10%;
	
}
.tag2 a{
	color: rgba(0, 0, 0, 0.56);
    text-decoration: none;
	font-size: x-large;
}

.hobbyphoto{
	background-image: url(hobby1-unsplash.jpg);
	background-size: cover;
	width:100%;
	height: 1000px;
}
.midlesizebox{
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.details{
	height: 30%;
	display:flex;
	justify-content: center;
	
}
.thema p{
	font-size: 80px;
	font-family:'Courier New', Courier, monospace;
}
.description{
	margin-top: 300px;
}
.explanation p{
	font-size: 45px;
	font-family:'Courier New', Courier, monospace;

}
.bottom_line{
	font-family:'Courier New', Courier, monospace;
	text-align: center;
	display:flex;
	
	height:700px;

}
.bottom_box1{
	background-image: url(friends-unsplash.jpg);
	background-size: cover;
	width: 33%;
	height: 100%;

}	

.bottom_box2{
	background-image: url(searcha.jpg);
	background-size: cover;
	width: 33%;
	height: 100%;
}	

.bottom_box3{
	background-image: url(share.jpg);
	background-size: cover;
	width: 33%;
	height: 100%;
}	
.midbottom_line{
	text-align: center;
	padding:30%;
	

}
