.top{
    padding: 1rem 3rem;
    color: #fff;
    border-radius: 100vh;
    background-image: -webkit-gradient(linear, right top, left top, from(#9be15d), to(#00e3ae));
    background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
    background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
}
.big_resarch{
    display:flex;
    justify-content: center;
}
.resarch_tag{
    width:20%;
    height:80px;
    margin-top:15px;
}
.post{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;


}
.postbox{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #0a0a0a;/*線*/
    border-radius: 10px;/*角の丸み*/
    width: 500px;
    display:item; 
    margin-right: 150px;  
}
.postbox br {
    margin: 0; 
    padding: 0;
    font-size: 82px;
}
.postbox p {
    margin: 0; 
    padding: 0;
    font-style:black;
}

.rankingbox{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.iinerank{
    position: relative;
    width: 20%;

}
.minirank{
    display: flex;
    justify-content: flex-start;
}
.rank1{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #0a0a0a;/*線*/
    border-radius: 10px;/*角の丸み*/
    width: 500px;
    display:item;   
    margin-right:150px ;
}


.rank2{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #0a0a0a;/*線*/
    border-radius: 10px;/*角の丸み*/
    width: 500px;
    display:item;   
    margin-right:150px ;
}

.rank3{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #0a0a0a;/*線*/
    border-radius: 10px;/*角の丸み*/
    width: 500px;
    display:item;
    margin-right:150px ;   
}



